name: Mirror to Personal Repo

on:
  push:
    branches: [ main ]

jobs:
  mirror_to_personal:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          # FONDAMENTALE: impedisce al bot di GitHub di sovrascrivere il tuo Token
          persist-credentials: false 

      - name: Push to Personal Mirror
        env:
          MY_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        run: |
          git config --global user.email "rad.nebili@gmail.com"
          git config --global user.name "Wawen22"
          
          # Costruiamo l'URL usando il prefisso x-access-token, più affidabile per i PAT
          # Sostituisci l'URL qui sotto se il nome del repo mirror è diverso
          git push --force https://x-access-token:${MY_TOKEN}@github.com/Wawen22/TLCO-PRODUCT-Sistema-Ingressi_MIRROR.git main